 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins';
 }

 :root {
     /* color */
     --clr-bg: #eee4ff;
     --clr-dark: #1c0343;
     --clr-primary: #2a095e;
     --clr-sec: #6f33cf;
     --clr-btn-shadow: #6f33cf9b;
     --clr-light: #fff;
     --clr-light-gray: #ededed;

     /* padding */
     --pad-tb: 10px;
     --pad-xm: 4px;
     --pad-sm: 8px;
     --pad-md: 12px;
     --pad-lg: 14px;
     --pad-xl: 18px;
     --pad-col: 12px 6px;
     --pad-container: 60px 40px;
     --pad-sec: 30px 20px;

     /* margin */
     --mar-xm: 4px;
     --mar-sm: 12px 0;
     --mar-md: 20px 0;
     --mar-lg: 30px 0;

     /* font style */
     --font-wt: 500;
     --font-fam: "poppins";
     --font-xm: 10px;
     --font-sm: 12px;
     --font-md: 16px;
     --font-lg: 20px;

     /* border */
     --border-rad-full: 50%;
     --border-rad-btn: 4px;
     --border-rad-col: 6px;
     --border-rad-img: 12px;

     /* transition */
     ---transition: all .30s ease;
     --transition-sec: all .50s ease;
 }

 li {
     list-style: none;
     text-transform: capitalize;
 }

 a {
     text-decoration: none;
     text-transform: capitalize;
     color: var(--clr-dark);
 }

 .btn {
     border: none;
     outline: none;
     background-color: transparent;
     color: var(--clr-dark);
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     cursor: pointer;
     border-radius: var(--border-rad-btn);
     font-size: var(--font-md);
     text-transform: capitalize;
 }

 .btn-container {
     display: flex;
     gap: 1.6rem;
     align-items: center;
     justify-content: flex-start;
     position: relative;
     margin: var(--mar-md);
 }

 h1,
 h2,
 h3,
 h5,
 h5,
 h6 {
     text-transform: capitalize;
     position: relative;
 }

 .heading-one {
     font-size: 3.2rem;
     color: var(--clr-dark);
 }

 .heading-two {
     font-size: 2.4rem;
 }

 .heading-three {
     font-size: 1.6rem;
 }

 .heading-four {
     font-size: 1.4rem;
 }

 .sub-heading {
     color: var(--clr-primary);
 }

 figure {
     display: flex;
     width: 100%;
     position: relative;
 }

 figure img {
     width: 100%;
     object-fit: cover;
 }

 .container {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     position: relative;
 }

 .row {
     width: 1280px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     gap: 20px;
 }

 .col {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: relative;
 }

 .section-heading {
     width: 1280px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: var(--pad-sec);
 }

 .section-heading-two {
     width: 1280px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     padding: var(--pad-sec);
 }

 .section-heading-text {
     display: flex;
     flex-direction: column;
 }

 .section-heading-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 .clr-shadow {
     position: absolute;
     width: 250px;
     height: 250px;
     filter: blur(120px);
     background-color: #6f33cf;
     border-radius: var(--border-rad-full);
 }

 .clr-shadow-one {
     top: 60%;
     left: 55%;
 }

 .clr-shadow-two {
     background-color: #cf336c;
     top: 10%;
     left: 70%;
 }

 .clr-shadow-three {
     background-color: #3ed6ea;
     left: 0;
     top: -5%;
     filter: blur(180px);
 }

 html {
     scroll-behavior: smooth;
 }

 /* classes end */

 /* header section */

 header {
     width: 100%;
     padding: 1.2rem 2.4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     background-color: #e0ceff67;
     backdrop-filter: blur(1.2rem);
     transition: all 1.2s ease;
 }

 header nav {
     position: relative;
     width: 1280px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header nav .logo {
     font-size: 1.2rem;
     font-weight: var(--font-wt);
     color: var(--clr-sec);
 }

 header nav ul {
     display: flex;
     gap: 10px;
 }

 header nav ul li {
     padding: 10px 16px;
     position: relative;
     border-radius: var(--border-rad-btn);
     transition: all .9s ease;
 }

 header nav ul.active {
     display: flex;
     animation: fadein 1.2s ease;
 }

 @keyframes fadein {
     0% {
         transform: translateY(0);
         opacity: 0;
     }

     100% {
         transform: translateY(5px);
         opacity: 1;
     }
 }

 header nav ul li a.active {
     color: var(--clr-sec);
 }

 header nav ul li:hover a {
     color: var(--clr-sec);
 }

 header nav ul li::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 4px;
     background-color: var(--clr-sec);
     top: 100%;
     left: 0%;
     border-radius: var(--border-rad-btn);
     box-shadow: 0 2px 6px var(--clr-btn-shadow);
     width: 0;
     transition: all .9s ease;
 }

 header nav ul li:hover::after {
     width: 100%;
 }

 header nav .responsive_icon {
     display: none;
 }

 /* hero start */

 main {
     background-color: var(--clr-bg);
     height: 100vh;
 }

 main .row {
     height: 100%;
 }

 main .row .col {
     height: 100%;
 }

 main .row .col figure {
     width: 100%;
     height: 100%;
 }

 main .small-img {
     position: absolute;
     width: 50px;
     left: 20px;
     top: 50%;
     animation: fade 1.2s ease infinite;
     animation-delay: .3s;
 }

 main .row .col:nth-child(2) .figma {
     left: 100px;
     top: 50%;
     background-color: #181616;
     padding: 8px 6px;
     border-radius: 4px;
     box-shadow: 4px 4px 8px #1e1e1e70,
         -4px -4px 8px #2c2b2b4a;
     animation-delay: .6s;
 }

 main .row .col:nth-child(2) .css {
     left: 75%;
     top: 40%;
     background-color: #fff;
     padding: 4px;
     width: 66px;
     border-radius: 4px;
     animation-delay: .9s;
     box-shadow: 4px 4px 12px #fff,
         -4px -4px 12px #fff;
 }

 main .row .col:nth-child(2) .adobexd {
     left: 82%;
     top: 60%;
     padding: 8px 6px;
     width: 88px;
     border-radius: 4px;
     animation-delay: 1.2s;
     filter: drop-shadow(4px 4px 12px #2e001f6e);
 }

 main .row .col:nth-child(2) .illustrator {
     left: 4%;
     top: 60%;
     padding: 8px 6px;
     width: 60px;
     animation-delay: 1.4s;
     border-radius: 4px;
     filter: drop-shadow(4px 4px 12px #2e001f6e);

 }

 @keyframes fade {
     0% {
         transform: translateY(0);
     }

     50% {
         transform: translateY(4px);
     }

     100% {
         transform: translateY(0);

     }
 }

 main .sub-heading {
     display: flex;
     align-items: center;
 }

 main .sub-heading .img {
     width: 20px;
     display: flex;
     margin-right: 8px;
 }

 main .sub-heading .img img {
     width: 100%;
 }

 main .heading-one span {
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: var(--clr-dark);
     -webkit-text-fill-color: transparent;
 }

 main .sub-heading .typing {
     margin-left: 4px;
 }

 main .about-hero {
     font-size: .9rem;
     line-height: 1.4rem;
 }

 main .hero_btn {
     display: flex;
     gap: 20px;
     margin: var(--mar-sm);
     align-items: center;
 }

 main .hero_btn .btn:nth-child(1) {
     display: flex;
     gap: 8px;
 }

 .hero_btn .btn {
     background-color: var(--clr-sec);
     color: var(--clr-light);
     width: 140px;
     height: 40px;
     box-shadow: 0 4px 8px var(--clr-btn-shadow);
     border: 1px solid var(--clr-sec);
 }

 main .hero_btn .btn:nth-child(2) {
     color: var(--clr-sec);
     background-color: transparent;
     box-shadow: none;
 }

 main .col:nth-child(2) .social-icon {
     display: flex;
     gap: 20px;
     position: absolute;
     left: 100%;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     z-index: 1;
 }

 main .col:nth-child(2) .social-icon i {
     color: var(--clr-dark);
 }

 /* hero section end */
 /* brand section */

 .brand .section-heading {
     align-items: flex-start;
     justify-content: flex-start;
     color: var(--clr-dark);

 }

 .brand .section-heading .heading-two {
     position: relative;
 }

 .brand .section-heading .heading-two::after {
     content: '';
     position: absolute;
     left: 70%;
     top: 25%;
     width: 100px;
     height: 4px;
     border-radius: var(--border-rad-btn);
     background-color: var(--clr-sec);
 }

 .brand {
     padding: var(--pad-container);
     z-index: 1;
 }

 .brand .row {
     display: flex;
     padding: var(--pad-sec);
     border-radius: var(--border-rad-img);
     box-shadow: 0 6px 12px var(--clr-light-gray);
     margin: var(--pad-md);
 }

 .brand .col {
     padding: 2.2rem;
 }

 /* brand section end */
 /* about section start */

 .about {
     height: 100vh;
 }

 .about .row {
     height: 100%;
 }

 .about .col {
     width: 100%;
     height: 100%;
 }

 .about figure {
     width: 100%;
     height: 100%;
 }

 .about .my-skills {
     display: flex;
     width: 100%;
     flex-direction: column;
     margin: var(--mar-sm);
 }

 .about .my-skills .skill-container {
     display: flex;
     padding: var(--pad-md);
     margin-left: -20px;
     justify-content: flex-start;
 }

 .about .my-skills .skill-container img {
     width: 50px;
     margin-right: 2rem;
     padding: 4px;
     object-fit: contain;
     margin: var(--mar-xm);
 }

 .about .col:nth-child(2) .about-text {
     line-height: 2rem;
     margin: var(--mar-sm);
 }

 .about .col:nth-child(2) .btn {
     background-color: var(--clr-sec);
     width: 140px;
     height: 40px;
     margin: var(--mar-sm);
     color: var(--clr-light);
     box-shadow: 0 4px 8px var(--clr-btn-shadow);
 }

 .about .col:nth-child(2) {
     padding: var(--pad-sec);
 }

 .about .col:nth-child(2) .sub-heading {
     text-transform: capitalize;
     background-color: #e0ceff;
     padding: 4px 0;
     margin: var(--mar-sm);
     border-radius: var(--border-rad-btn);
     width: 100px;
     text-align: center;
     color: var(--clr-sec);
 }

 /* about section end */

 /* service seciton start */

 .service {
     padding: var(--pad-container);
 }

 .service .section-heading {
     flex-direction: column;
     align-items: flex-start;
 }

 .service .row {
     justify-content: center;
     gap: 60px;
     padding: var(--pad-sec);
 }

 .service .row .col {
     background-color: var(--clr-light-gray);
     width: 280px;
     min-height: 300px;
     padding: 20px;
     gap: 10px;
     border-radius: var(--border-rad-img);
     z-index: 1;
     cursor: pointer;
     transition: var(--transition);
 }

 .service .row .col::after {
     content: '';
     position: absolute;
     inset: 0;
     background-color: var(--clr-sec);
     border-radius: var(--border-rad-img);
     z-index: -10;
     opacity: 0;
     transition: var(--transition);
 }

 .service .row .col::before {
     content: '';
     position: absolute;
     background-color: var(--clr-sec);
     inset: 0;
     filter: blur(20px);
     border-radius: var(--border-rad-img);
     z-index: -2;
     opacity: 0;
     transition: var(--transition);
 }

 .service .row .col:hover::after,
 .service .row .col:hover::before {
     opacity: 1;
 }

 .service .row .col:nth-child(2)::after {
     background-color: #3ed6ea;
 }

 .service .row .col:nth-child(2)::before {
     background-color: #3ed6ea;
 }

 .service .row .col:nth-child(3)::after {
     background-color: #f99829;
 }

 .service .row .col:nth-child(3)::before {
     background-color: #f99829;
 }

 .service .col figure {
     width: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .service .col figure img {
     width: 100%;
     object-fit: cover;
 }

 .service .col a {
     text-decoration: underline;
     text-underline-offset: .5rem;
     font-size: .9rem;
 }

 .service .col .heading-three {
     color: var(--clr-dark);
 }

 .service .row .col:hover .heading-three {
     color: var(--clr-light);
 }

 .service .row .col:hover {
     color: var(--clr-light);
 }

 .service .col:hover a {
     color: var(--clr-light);
 }

 .portfolio .grid-row {
     width: 1280px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
     align-items: center;
     gap: 20px;
     padding: var(--pad-sec);
 }

 .portfolio .grid-row .col {
     width: 100%;
     border-radius: var(--border-rad-img);
 }

 .portfolio .grid-row .col img {
     border-radius: var(--border-rad-col);
 }

 .portfolio .btn-container .active {
     background-color: var(--clr-sec);
     color: var(--clr-light);
     padding: 10px 12px;
     box-shadow: 0 2px 6px var(--clr-btn-shadow);
 }

 .portfolio .section-text .sub-heading {
     color: var(--clr-primary);
     position: relative;
 }

 .portfolio .section-text .sub-heading::after {
     content: '';
     position: absolute;
     top: 50%;
     left: 36%;
     width: 50px;
     height: 4px;
     border-radius: var(--border-rad-btn);
     background-color: var(--clr-sec);
 }

 .portfolio .section-heading .heading-two {
     color: var(--clr-dark);
 }

 /* portfolio section end */
 /* review section start */

 .swiper {
     width: 1240px;
     height: 100%;
     margin: auto;
     padding: var(--pad-sec);
 }

 .swiper-slide {
    width: 100%;
    height: 100%;
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 60px;
 }

 .swiper-slide .col {
     display: flex;
     flex-direction: column;
     background-color: var(--clr-light-gray);
     border-radius: var(--border-rad-col);
     padding: var(--pad-lg);
     gap: 10px;
     text-align: center;
 }

 .review_contianer{
    padding: var(--pad-container);

 }

 .review_contianer .col .review-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .review_contianer .col .review-header .client-info{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
 }

 .review-header .client-info img{
    width: 50px;
 }
 .review-header .client-info .client-name{
    display: flex;
    flex-direction: column;
 }
 .review-header .client-info .client-name h4{
    font-size: 1.2rem;
    text-transform: capitalize;
 }
 .review-header .client-info .client-name p{
    text-align: left;
    font-size: .6rem;
 }
 .review_contianer .review-header .client-ratting{
    flex: 1;
    font-size: .8rem;
    text-align: right;
 }

 .review_contianer .review-body{
    font-size: .9rem;
 }
 .review_contianer a{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: capitalize;
    font-size: .9rem;
 }

 .review_contianer .section-heading{
    align-items: flex-start;
   
 }

 .review_contianer .section-heading .sub-heading{
    position: relative;
 }
 .review_contianer .section-heading .sub-heading::after{
    content: '';
    position: absolute;
    top:50%;
    left: 110%;
    width: 60px;
    height: 4px;
    background-color: var(--clr-sec);
    border-radius: var(--border-rad-btn);
 }

 .contact{
    background-color: var(--clr-bg);
 }
 .contact .row{
    padding: var(--pad-sec);
 }
 .contact form{
    width: 360px;
    margin: var(--mar-md);
    display: flex;
    justify-content: center;
    border-radius: var(--border-rad-col);
    background-color: var(--clr-light-gray);
 }

 .contact form input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 12px;
    height: 40px;
    background-color: transparent;
 }
 .contact form button{
    width: 120px;
    height: 40px;
    background-color: var(--clr-sec);
    color: var(--clr-light);
    box-shadow: 0 2px 6px var(--clr-btn-shadow);
 }
 .contact .sub-heading{
    position: relative;
 }

 .contact .sub-heading::after{
    content: '';
    position: absolute;
    left: 16%;
    top: 50%;
    background-color: var(--clr-sec);
    width: 80px;
    height: 4px;
 }

 .contact .social-contact{
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
 }

 .contact .social-icon {
    gap: 20px;
    display: flex;
 }

 .contact .social-contact i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--clr-sec);
    background-color: transparent;
    border: 1px solid var(--clr-primary);
    border-radius: var(--border-rad-full);
    color: var(--clr-primary);
    transition: all .9s ease;
 }
 .contact .social-contact i:hover{
    background-color: var(--clr-sec);
    color: var(--clr-light);
 }

 /* contact us end */
 /* footer */
 footer{
    background-color: var(--clr-bg);
    padding: var(--pad-sec);
    border-top: .5px solid var(--clr-primary);
    text-align: center;
 }

 .hide{
    display: none;
 }
 .btn.active{
    transition: all .9s ease;
 }

 /* media query */

@media screen and (max-width:600px) {
    .about{
        margin-bottom: 300px;
    }
    .about .col:nth-child(2){
        align-items: center;
        justify-content: center;
    }
    .about .col:nth-child(2) .my-skills{
        align-items: center;
    }
    .clr-shadow{
        width: 100px;
        width: 100px;
    }
    main .hero_btn{
        margin: auto;
    }
    main .col:nth-child(2) .social-icon{
        display: none;
    }
    main .sub-heading{
        justify-content: center;
    }
    .brand .row .col{
        width: 300px;
    }
    nav,
    .row,
    .section-heading,
    .section-heading-two,
    .grid-row,
    .swiper{
        max-width: 580px;
        min-width: 280px;
    }
    header{
        padding-right: none;
        z-index: 2000;
    }
    header nav ul{
        position: absolute;
        top: 160%;
        flex-direction: column;
        right: -6%;
        align-items: center;
        background-color: #e0ceffaf;
        padding: 20px 30px;
        display: none;
        z-index: 100;
    }
    header nav .responsive_icon{
        display: block;
        cursor: pointer;
        color: var(--clr-sec);
    }
    .row,
    .section-heading,
    .section-heading-two,
    .swiper-slide{
        flex-direction: column !important;
        text-align: center;
    }
    .brand .row{
        flex-direction: row;
    }
    .review_contianer .section-heading,
    .service .section-heading,
    .brand .section-heading{
        align-items: center;
    }
    .portfolio .section-text .sub-heading::after,
    .contact .sub-heading::after,
    .review_contianer .section-heading .sub-heading::after,
    .brand .section-heading .heading-two::after{
        background-color: transparent;
    }
    .heading-one{
        font-size: 2.4rem;

    }
    .heading-two{
        font-size: 1.8rem;
    }
    .service .row .col{
        width: 360px;
        justify-content: center;
        align-items: center;
    }
    
    .swiper{
        left: -5%;
    }
    .container{
        overflow: hidden;
    }
    
}